{% extends 'catalog/home_2.html' %}

{% block title %}Категория {% endblock %}
{% block navigation %}
<h5 class="my-0 mr-md-auto font-weight-normal">Список продуктов по категориям</h5>
        <nav class="ms-5">
            <a href="{% url 'catalogs:home_2' %}" class="btn btn-secondary">Главная</a>

        </nav>
{% endblock  %}

{% block content %}

 <div class="container mt-5">

        <h2>Список товаров по категории</h2>
        <ul class="list-group">
            {% for element in list_p %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ element.product_name | upper }}
                </li>
            {% endfor %}
        </ul>


    </div>
{% endblock  %}