{% extends 'catalog/home_2.html' %}

{% block title %}Информация о товарах{% endblock %}
{% block navigation %}
<h5 class="my-0 mr-md-auto font-weight-normal">Описание товаров</h5>
        <nav class="ms-5">
            <a href="{% url 'catalogs:home_2' %}" class="btn btn-secondary">Главная</a>

        </nav>
{% endblock  %}

{% block content %}

<h2>Характерстики товара</h2>
<p>Наименование: {{ product.product_name }}</p>
<p>Описание: {{ product.product_description }}</p>
<p>Изображение: <img src = "{{product.picture.url}}" alt = "{{product.product_name}}" width="200" height="150"></p>
<p>Категория: {{ product.category }}</p>
<p>Цена: {{ product.purchase_price }}</p>
<p>Публикация: {{ product.status_publications}}

</p>
{% if perms.catalog.can_unpublish_product %}
 <button type="submit" class="btn btn-primary">Сохранить</button>

 <a href="{% url 'catalogs:product_update' product.pk %}" class="btn btn-warning">Редактировать</a>
 <a href="{% url 'catalogs:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>

<form method="post" action="{% url 'catalogs:change_status' product.pk %}">
            {% csrf_token %}
            <button type="submit">Изменить статус</button>
</form>
{% endif %}
{% endblock  %}